## **  Importando Pandas e Base de Dados**

In [2]:
#importando pacote
import pandas as pd
#Criando dataframe 
df = pd.read_csv(r'C:\Users\Daniel\Downloads\Prices_Hydro_20190721.csv')

## ** Obtendo as características dos dados**

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3904 entries, 0 to 3903
Data columns (total 5 columns):
Target_label    3904 non-null object
Scenarios_id    3904 non-null object
System          3904 non-null object
PMO_Stage       3904 non-null object
value           3892 non-null float64
dtypes: float64(1), object(4)
memory usage: 152.6+ KB

## **Verificando a presença de valores nulos**

In [4]:
df.isnull().sum()

Target_label     0
Scenarios_id     0
System           0
PMO_Stage        0
value           12
dtype: int64

## **Verificando a presença de valores duplicados**

In [5]:
sum(df.duplicated())

0

## **Extraindo a amostra de interesse**

In [11]:

subset0 = df.query('PMO_Stage == "Month"')
subset1 = subset0[subset0['Scenarios_id'].str.contains('GFS-ETA')]

## **Verificando a presença de valores nulos na amostra selecionada**

In [170]:
subset1.isnull().sum()

Target_label    0
Scenarios_id    0
System          0
PMO_Stage       0
value           0
dtype: int64

## **Dataframe baseada no exemplo dado**

In [191]:
#Obtendo as médias por segmento
df_results = subset1.groupby(['Target_label','System'],as_index =False)['value'].mean()
#Obtendo as medianas por segmento
df_results2 = subset1.groupby(['Target_label','System'],as_index =False)['value'].median()
#Unindo os dois dataframes anteriores
df_final = pd.merge(df_results, df_results2, left_on=['Target_label','System'], right_on=['Target_label','System'],suffixes=('_L','_R'))
#Atribuindo novos nomes as colunas
new_labels= ['Target label','System','Average','Median']
df_final.columns = new_labels
#Ordenando o dataframe
import numpy as np
df_final["Month"] = np.repeat([8,12,7,11,10,9],4)
df_final["Region"] = np.array(list(np.arange(0,4))*6)
df_final.sort_values(["Region","Month"], ascending=[True,True],inplace=True)
df_final.drop(["Region","Month"], axis=1, inplace=True)
#df_final.sort_values(["Month","System"], ascending=[True,True],inplace=True)
#df_final.drop('Month', axis=1, inplace=True)
df_final.set_index('Target label',inplace=True)
df_final = df_final.transpose()
df_final

Target label,Jul-19,Aug-19,Sep-19,Oct-19,Nov-19,Dec-19,Jul-19,Aug-19,Sep-19,Oct-19,...,Sep-19,Oct-19,Nov-19,Dec-19,Jul-19,Aug-19,Sep-19,Oct-19,Nov-19,Dec-19
System,N,N,N,N,N,N,NE,NE,NE,NE,...,S,S,S,S,SE,SE,SE,SE,SE,SE
Average,180.38,197.147,168.48,140.583,116.829,87.8233,180.38,197.147,168.48,140.583,...,162.854,134.28,116.074,87.8233,180.38,197.147,168.48,140.583,116.829,87.8233
Median,180.638,199.393,162.782,134.427,115.743,88.6452,180.638,199.393,162.782,134.427,...,162.782,134.427,115.743,88.6452,180.638,199.393,162.782,134.427,115.743,88.6452

## **Alternativa**

In [188]:
A_df_final = df_final.transpose()
#sugested_df_final = pd.merge(df_results, df_results2, left_on=['Target_label','System'], right_on=['Target_label','System'],suffixes=('_L','_R'))
#sugested_df_final.columns = new_labels
#sugested_df_final["Month"] = np.repeat([8,12,7,11,10,9],4)
#sugested_df_final["Region"] = np.array(list(np.arange(0,4))*6)
#sugested_df_final.sort_values(["Region","Month"], ascending=[True,True],inplace=True)
#sugested_df_final.drop(["Region","Month"], axis=1, inplace=True)

In [189]:
A_df_final

             System  Average   Median
Target label
Jul-19            N   180.38  180.638
Aug-19            N  197.147  199.393
Sep-19            N   168.48  162.782
Oct-19            N  140.583  134.427
Nov-19            N  116.829  115.743
Dec-19            N  87.8233  88.6452
Jul-19           NE   180.38  180.638
Aug-19           NE  197.147  199.393
Sep-19           NE   168.48  162.782
Oct-19           NE  140.583  134.427
Nov-19           NE  116.829  115.743
Dec-19           NE  87.8233  88.6452
Jul-19            S   180.38  180.638
Aug-19            S  195.333  199.393
Sep-19            S  162.854  162.782
Oct-19            S   134.28  134.427
Nov-19            S  116.074  115.743
Dec-19            S  87.8233  88.6452
Jul-19           SE   180.38  180.638
Aug-19           SE  197.147  199.393
Sep-19           SE   168.48  162.782
Oct-19           SE  140.583  134.427
Nov-19           SE  116.829  115.743
Dec-19           SE  87.8233  88.6452