## ** Importando Pandas**

In [1]:
import pandas as pd

## ** Obtendo Dados atrav√©s da API do Banco Central**

In [70]:
url = 'https://olinda.bcb.gov.br/olinda/servico/Expectativas/versao/v1/odata/ExpectativasMercadoAnuais?$top=10&$orderby=Data%20desc&$format=text/csv&$select=Data,DataReferencia,Mediana'

## ** Obtendo Dataframe**

In [78]:
df = pd.read_csv(url)
df

         Data  DataReferencia Mediana
0  2020-12-24            2024  250,55
1  2020-12-24            2020  210,31
2  2020-12-24            2021  225,15
3  2020-12-24            2022     235
4  2020-12-24            2023   240,6
5  2020-12-24            2024  220,35
6  2020-12-24            2020  154,75
7  2020-12-24            2021   169,5
8  2020-12-24            2022     190
9  2020-12-24            2023   208,2

## ** Salvando em csv**

In [80]:
df.to_csv('Bacen_api.csv', index=False)

In [81]:
teste2 = pd.read_csv('Bacen_api.csv')
teste2

         Data  DataReferencia Mediana
0  2020-12-24            2024  250,55
1  2020-12-24            2020  210,31
2  2020-12-24            2021  225,15
3  2020-12-24            2022     235
4  2020-12-24            2023   240,6
5  2020-12-24            2024  220,35
6  2020-12-24            2020  154,75
7  2020-12-24            2021   169,5
8  2020-12-24            2022     190
9  2020-12-24            2023   208,2